@model DB.Supplier

@{
    ViewBag.Title = "Delete";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllSuppliers";
}

<h3>@Loc.Dic.ConfirmDelete</h3>

@Html.Action("PartialDetails", new { supplier = Model})
<br />

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Loc.Dic.Delete" /> |
        @Html.ActionLink(Loc.Dic.BackToList, "Index")
    </p>
}
