@model DB.Supplier

@{
    ViewBag.Title = "Details";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllSuppliers";
}

@Html.Action("PartialDetails", new { supplier = Model})
<br />

<p>
    @Html.ActionLink(Loc.Dic.Edit, "Edit", new { id=Model.Id }) |
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</p>
