@model DB.Budget

@{
    ViewBag.Title = "הפעל תקציב";
    ViewBag.PageName = "Budgets";
    ViewBag.SubPageName = "AllBudgets";
}


<h3>האם אתה בטוח שברצונך להפעיל את התקציב?</h3>
<br />
<fieldset>
    <legend>תקציב שנתי</legend>

    <div class="display-label">
         @Loc.Dic.Year
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Year)
    </div>

</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Loc.Dic.Activate" /> |
        @Html.ActionLink(Loc.Dic.BackToList, "Index")
    </p>
}
