@model IEnumerable<DB.Budget>

@{
    ViewBag.Title = Loc.Dic.AllBudgets;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllBudgets";
}
<p>
    @Html.ActionLink(Loc.Dic.ImportBudget, "Import", "Budgets")
</p>

@if (Model.Any())
{ 
    @Html.Action("List", new { budgets = Model, baseUrl = Url.Action("Index"), isOrdered = true, isPaged = false, sortby = (string)ViewBag.Sortby, order = (string)ViewBag.Order, currPage = 1, NumberOfPages = 1 })    
}
else
{
    <span class="no-properties">@(Loc.Dic.NoBudgetsWereFound).</span> 
}