@{
    ViewBag.CurrentUser = (GAppsDev.OpenIdService.OpenIdUser)Session["User"];
}
<nav>
    <div id="mainMenu">
        <ul>
            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.SystemManager))
            {
                <li>@Html.ActionLink(Loc.Dic.Users, "Index", "Users", null, new { id = "AllUsersLink" })</li>
                <li>|</li>
                <li>@Html.ActionLink(Loc.Dic.Permissions, "Index", "Permissions", null, new { id = "AllPermissionsLink" })</li>
                <li>|</li>
                <li>@Html.ActionLink(Loc.Dic.Budget, "index", "Budgets", null, new { id = "AllBudgetsLink" })</li>
                <li>|</li>
                <li>@Html.ActionLink(Loc.Dic.Suppliers, "Index", "Suppliers", null, new { id = "AllSuppliersLink" })</li>
                
            }
        </ul>
    </div>
</nav>
