@model IEnumerable<DB.Budgets_Allocations>

@{
    ViewBag.Title = "AllocationMonthList";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllBudgets";
}

<h2>@Loc.Dic.Allocations @ViewBag.Year</h2>
<br />

@if (Model.Any())
{ 
    @Html.Action("List", new { allocations = Model, baseUrl = Url.Action("AllocationMontheList", new { id = (int)ViewBag.BudgetId }), isOrdered = true, isPaged = true, sortby = (string)ViewBag.Sortby, order = (string)ViewBag.Order, currPage = (int)ViewBag.CurrPage, NumberOfPages = (int)ViewBag.NumberOfPages })    
}
else
{
    <span class="no-properties">@(Loc.Dic.NoAllocationsWereFound).</span> 
}