@{
    ViewBag.CurrentUser = (GAppsDev.OpenIdService.OpenIdUser)Session["User"];
}
<nav>
    <div id="mainMenu">
        <ul>
            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.SystemManager))
            {
                <li>@Html.ActionLink(Loc.Dic.Budget, "index", "Budgets", null, new { id = "AllBudgetsLink" })</li>
                <li>|</li>
                <li>@Html.ActionLink(Loc.Dic.Incomes, "Index", "Incomes", null, new { id = "AllIncomesLink" })</li>
                <li>|</li>
                <li>@Html.ActionLink(Loc.Dic.Expenses, "Index", "Expenses", null, new { id = "AllExpensesLink" })</li>
                <li>|</li>
                <li>@Html.ActionLink(Loc.Dic.BudgetAllocations, "Index", "BudgetAllocations", null, new { id = "AllBudgetAllocationsLink" })</li>
            }
        </ul>
    </div>
</nav>