@model IEnumerable<DB.Order>

@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "ExportToFile";
}

<h2>Index</h2>
@if (Model.Count() != 0)
{ 
    @Html.Action("SimpleList", "Orders", new { orders = Model, baseUrl = Url.Action("Index")})    
}
else
{
    <span class="no-properties">@(Loc.Dic.NoOrdersWereFound).</span> 
}