@{
    ViewBag.Title = "AddPermission";
    ViewBag.PageName = "Inventory";
    ViewBag.SubPageName = "";
    
}

<h2>AddPermission</h2>

@using(Html.BeginForm()) {

    <input type="hidden" name="userId" value="@ViewBag.UserId" />
    @Loc.Dic.Permissions<text>:</text> @Html.DropDownList("PermissionId")
                        
    <p>
        <input type="submit"  value="Add permission" />
    </p>
}

