@model DB.PendingUser

@{
    ViewBag.Title = "DeletePending";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllUsers";
}

<h3>@Loc.Dic.ConfirmDelete</h3>

@Html.Action("PendingUserPartialDetails", new { user = Model})
<br />

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Loc.Dic.Delete" /> |
        @Html.ActionLink(Loc.Dic.BackToList, "Index")
    </p>
}
