@model SelectList
@{
    ViewBag.Title = Loc.Dic.UserPerferences;
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
            </hgroup>
        </div>
    </section>
}
<h3>@Loc.Dic.LanguageSet</h3>
@using (Html.BeginForm())
{
    @Html.DropDownList("LanguageId", (SelectList)Model)
    <br /><br />
    
    <input type="submit" value="@Loc.Dic.Submit" />
}