@model DB.User

@{
    ViewBag.Title = Loc.Dic.DeleteUser;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllUsers";
}

<h3>@Loc.Dic.UserUndoDeleteConfirm</h3>

@Html.Action("PartialDetails", new { user = Model})
<br />

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Loc.Dic.ReturnUser" /> |
        @Html.ActionLink(Loc.Dic.BackToList, "Index")
    </p>
}
