@model IEnumerable<DB.Order>

@{
    ViewBag.Title = Loc.Dic.AllOrders;
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "AllOrders";
}

@section ExtraScripts{
    <script type="text/javascript" src='@Url.Action("LocalizeJavascript", "Localization", new { get = "Show,Hide" })'></script>
    <script src="~/Scripts/SearchScript.js"></script>
}

@Html.Action("SearchForm", new { isExpanding = true, isCollapsed= true })

@if (Model.Any())
{ 
    @Html.Action("List", new { orders = Model, baseUrl = Url.Action("Index"), isOrdered = true, isPaged = true, sortby = (string)ViewBag.Sortby, order = (string)ViewBag.Order, currPage = (int)ViewBag.CurrPage, NumberOfPages = (int)ViewBag.NumberOfPages })    
}
else
{
    <span class="no-properties">@(Loc.Dic.NoOrdersWereFound).</span> 
}