@{
    ViewBag.Title = "UploadInvoiceFile";
}

@section ExtraScripts{
    <script src="~/Scripts/AddToInventoryScript.js"></script>
}

@using (Html.BeginForm("UploadInvoiceFile", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
    
    <h2>סרוק חשבונית</h2>
    <input type="file" name="file" />
    <input type="submit" value="OK" />
    
    <h2>הכנסה למלאי</h2>
    @Html.Action("AddToInventory", new { ViewBag.OrderID})
}