@model DB.Budget

@{
    ViewBag.Title = "Delete";
    ViewBag.PageName = "Budgets";
    ViewBag.SubPageName = "AllBudgets";
}

<h3>@Loc.Dic.ConfirmDelete</h3>

@Html.Action("PartialDetails", new { budget = Model})
<br />

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Loc.Dic.Delete" /> |
        @Html.ActionLink(Loc.Dic.BackToList, "Index")
    </p>
}
