@{
    ViewBag.Title = Loc.Dic.ImportBudget;
    ViewBag.PageName = "Budgets";
    ViewBag.SubPageName = "Import";
}

@using (Html.BeginForm("Import", "Budgets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <text>
    שנת תקציב <input type="text" name="year" />
    <h2>קובץ תקציב חודשי</h2>
    <input type="file" name="file" />
    <input type="submit" value="OK" />
    </text>
}
@using (Html.BeginForm("ImportYear", "Budgets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <text>
    שנת תקציב <input type="text" name="year" />
    <h2>קובץ תקציב שנתי</h2>
    <input type="file" name="file" />
    <input type="submit" value="OK" />
    </text>
}