@{
    ViewBag.Title = Loc.Dic.ImportBudget;
    ViewBag.PageName = "Budgets";
    ViewBag.SubPageName = "AllBudgets";
}

@using (Html.BeginForm("Import", "Budgets", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)

    <text>
    <h2>קובץ תקציב</h2>
    שנת תקציב <input type="text" name="year" />
    
    <h2>קובץ תקציב</h2>
    <input type="file" name="file" />
    <input type="submit" value="OK" />
    </text>
}