@model IEnumerable<DB.Location>

@{
    ViewBag.Title = Loc.Dic.Locations;
    ViewBag.PageName = "Inventory";
    ViewBag.SubPageName = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Loc.Dic.Locations</h2>

<p>
    @Html.ActionLink(Loc.Dic.CreateNew, "Create")
</p>

@if (Model.Any())
{ 
    @Html.Action("List", new { locations = Model, baseUrl = Url.Action("Index"), isOrdered = true, isPaged = false, sortby = (string)ViewBag.Sortby, order = (string)ViewBag.Order, currPage = 1, NumberOfPages = 1 })    
}
else
{
    <span class="no-properties">@(Loc.Dic.NoLocationsWereFound).</span> 
}