@Html.ActionLink(Loc.Dic.Departments, "Index", "Departments")
@Html.ActionLink(Loc.Dic.Projects, "Index", "Projects")
@Html.ActionLink(Loc.Dic.SubProject, "Index", "SubProjects")
@Html.ActionLink(Loc.Dic.UsersManagment, "Index", "Users")
@Html.ActionLink(Loc.Dic.Permissions, "Index", "Permissions")

@{
    ViewBag.Title = Loc.Dic.Managment;
}

<h2>Loc.Dic.Managment</h2>
