@{
    ViewBag.Title = Loc.Dic.Inventory;
}

@{
    ViewBag.CurrentUser = (GAppsDev.OpenIdService.OpenIdUser)Session["User"];
}
<nav>
    <div id="mainMenu">
        <ul>
                <li>
                    @Html.ActionLink(Loc.Dic.InventoryList, "index", "Inventory", null, new { id = "AllInventory" })
                </li>
                @if (DA.Roles.HasRole((DA.RoleType)ViewBag.CurrentUser.Roles, DA.RoleType.InventoryManager))
                {
                <li>|</li>
                <li>
                    @Html.ActionLink(Loc.Dic.PendingOrders, "PendingInventory", "Orders", null, new { id = "PendingInventory" })
                </li>
                }
        </ul>
    </div>
</nav>