@model IEnumerable<DB.Supplier>

@{
    ViewBag.Title = "Index";
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllSuppliers";
}

<p class="bold">
    @Html.ActionLink(Loc.Dic.Import, "Import")
</p>

@if (Model.Any())
{ 
    @Html.Action("List", new { suppliers = Model, baseUrl = Url.Action("Index"), isOrdered = true, isPaged = true, sortby = (string)ViewBag.Sortby, order = (string)ViewBag.Order, currPage = (int)ViewBag.CurrPage, NumberOfPages = (int)ViewBag.NumberOfPages })    
}
else
{
    <span class="no-properties">@(Loc.Dic.NoSuppliersWereFound).</span> 
}