@{
    ViewBag.Title = @Loc.Dic.AddToInventory;
    ViewBag.PageName = "Orders";
    ViewBag.noSubMenu = true;
}

@section ExtraScripts{
    <script src="~/Scripts/AddToInventoryScript.js"></script>
}

<h2>@Loc.Dic.AddToInventory</h2>
@Html.Action("PartialAddToInventory", new { ViewBag.OrderID})