@model DA.OrdersRepository.ExeedingOrderData

@{
    ViewBag.Title = Loc.Dic.Delete;
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "AllOrders";
}

<h3>@Loc.Dic.ConfirmDelete</h3>

@Html.Action("PartialDetails", new { model = Model})

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="@Loc.Dic.Delete" /> |
        @Html.ActionLink(Loc.Dic.BackToList, "MyOrders")
    </p>
}
