@{
    ViewBag.Title = Loc.Dic.OrderDetails;
    ViewBag.PageName = "Orders";
    ViewBag.SubPageName = "MyOrders";
}

@Html.Action("PartialDetails", new { id = ViewBag.OrderId})

<p>
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</p>

