@{
    ViewBag.CurrentUser = (GAppsDev.OpenIdService.OpenIdUser)Session["User"];
}
<nav>
    <div id="mainMenu">
        <ul>
            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.OrdersWriter))
            {
                <li>@Html.ActionLink(Loc.Dic.MyOrders, "MyOrders", "Orders")</li>
            }
            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.OrdersViewer))
            {
                <li>|</li>
                
                <li>@Html.ActionLink(Loc.Dic.AllOrders, "Index", "Orders")</li>
            }
            @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.OrdersApprover))
            {
                <li>|</li>
                
                <li>@Html.ActionLink(Loc.Dic.PendingOrders, "PendingOrders", "Orders")</li>
            }
        </ul>
    </div>
</nav>
