@{
    ViewBag.Title = "UploadInvoiceFile";
}

<h2>UploadInvoice</h2>
@using (Html.BeginForm("UploadSingleFile", "Orders", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}