@{
    ViewBag.Title = "UploadInvoiceFile";
    ViewBag.PageName = "Orders";
    ViewBag.noSubMenu = true;
}

@using (Html.BeginForm("UploadInvoiceFile", "Orders", new { id = ViewBag.OrderID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)
    
    <h2>@Loc.Dic.UploadInvoice</h2>
    <input type="file" name="file" />
    <input type="submit" value="OK" />
}