@{
    ViewBag.Title = "צור קשר";
}

<section class="contact">
    <header>
        <h3>מספר טלפון</h3>
    </header>
    <p>
        <span class="label">ראשי:</span>
        <span>425.555.0100</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>אימייל</h3>
    </header>
    <p>
        <span class="label">תמיכה:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">כללי:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>כתובת</h3>
    </header>
    <p>
        One Microsoft Way<br />
        Redmond, WA 98052-6399
    </p>
</section>