@model SelectList
@{
    ViewBag.Title = Loc.Dic.UserPerferences;
    ViewBag.PageName = "";
    ViewBag.noSubMenu = true;
}

<h3>@Loc.Dic.LanguageSet</h3>
@using (Html.BeginForm())
{
    @Html.DropDownList("LanguageId", (SelectList)Model)
    <br /><br />
    
    <input type="submit" value="@Loc.Dic.Submit" />
}