@model DB.PendingUser

@{
    ViewBag.Title = Loc.Dic.Details;
    ViewBag.PageName = "Managment";
    ViewBag.SubPageName = "AllUsers";
}

@Html.Action("PendingUserPartialDetails", new { user = Model})
<br />

<p>
    @Html.ActionLink(Loc.Dic.Edit, "EditPending", new { id = Model.Id }) |
    @Html.ActionLink(Loc.Dic.BackToList, "Index")
</p>
