@model IEnumerable<DB.Inventory>

@{
    ViewBag.Title = Loc.Dic.Inventory;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.PageName = "Inventory";
    ViewBag.SubPageName = "AllInventory";
}

<p>
    @if (ViewBag.CurrentUser != null && DA.Roles.HasRole(ViewBag.CurrentUser.Roles, DA.RoleType.InventoryManager))
    {
        @Html.ActionLink(Loc.Dic.CreateNew, "Create")
    }
</p>

@if (Model.Any())
{ 
    @Html.Action("List", new { inventoryItems = Model, baseUrl = Url.Action("Index"), isOrdered = true, isPaged = true, sortby = (string)ViewBag.Sortby, order = (string)ViewBag.Order, currPage = (int)ViewBag.CurrPage, NumberOfPages = (int)ViewBag.NumberOfPages })    
}
else
{
    <span class="no-properties">@(Loc.Dic.NoBudgetsWereFound).</span> 
}
